@model AYN.Web.ViewModels.Categories.ListAllCategoriesViewModel

<script>
    $(document).ready(function () {
        $(".dropdown").hover(function () {
            var dropdownMenu = $(this).children(".dropdown-menu");
            if (dropdownMenu.is(":visible")) {
                dropdownMenu.parent().toggleClass("open");
            }
        });
    });
</script>

<div class="row">
    @foreach (var (key, value) in this.Model.AllCategoriesWithAllSubCategories)
    {
        <div class="col-md-3 nav-item dropdown mb-5">
            <div class="text-center">
                <img src="/img/CategoriesPictures/@key.Id.@key.PictureExtension" class="rounded-circle category-image" alt="@key.Name">
                <h6>@key.Name</h6>
                <h6>@value.Sum(v => v.AdsCount) Ads</h6>
            </div>
            @if (value.Any())
            {
                <div class="dropdown-menu">
                    @foreach (var subCategory in value)
                    {
                        <a href="/">@subCategory.Name</a><text> - @subCategory.AdsCount Ads</text><br>
                    }
                </div>
            }

        </div>
    }
</div>
