@model AYN.Web.ViewModels.Categories.ListAllCategoriesViewModel

<script>
    $(document).ready(function () {
        $(".dropdown").hover(function () {
            var dropdownMenu = $(this).children(".dropdown-menu");
            if (dropdownMenu.is(":visible")) {
                dropdownMenu.parent().toggleClass("open");
            }
        });
    });
</script>

<div class="card col-md-12">
    <hr />
    <div class="card-body">
        <div class="text-center">
            <h4>Search products by our main categories</h4>
        </div>
        <br />
        <div class="row">
            @foreach (var (key, value) in this.Model.AllCategoriesWithAllSubCategories)
            {
                <div class="col-md-2 nav-item text-center">
                    <div class="dropdown mb-5">
                        <div class="text-center">
                            <a asp-controller="Ads" asp-action="Search" asp-route-categoryId="@key.Id">
                                <img src="@key.ImageUrl" class="rounded-circle category-image" alt="@key.Name">
                            </a>
                            <h6>@key.Name - @value.Sum(v => v.AdsCount) Ads</h6>
                        </div>
                        @if (value.Any())
                        {
                            <div class="dropdown-menu">
                                @foreach (var subCategory in value)
                                {
                                    <a asp-controller="Ads" asp-action="Search" asp-route-categoryId="@subCategory.Id">@subCategory.Name</a><text> - @subCategory.AdsCount Ads</text><br>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
</div>
<br />
