@using System.Security.Claims
@using AYN.Data.Models.Enumerations

@model AYN.Web.ViewModels.Posts.ListUserPostsViewModel

<div class="text-center text-primary">
    <h6>Latest Posts</h6>
</div>
@foreach (var post in this.Model.UserPosts)
{
    <div class="card social-timeline-card" id="@post.Id">
        <div class="card-header pb-3">
            <div class="d-flex justify-content-between align-items-center text-center">
                <div class="d-flex justify-content-between align-items-center text-center">
                    <div class="mr-2">
                        <img class="rounded-circle" width="45" src="/img/UsersAvatars/@if (post.ApplicationUserAvatarExtension == null){<text>@post.ApplicationUserId?.ToString()_DEFAULT.png</text>}else{<text>@post.ApplicationUserId.@post.ApplicationUserAvatarExtension</text>}" alt="">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0 text-blue">@post.ApplicationUserFirstName @post.ApplicationUserLastName</div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop11">
                            <div class="h6 dropdown-header text-center">Actions</div>
                            @if (this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value == post.ApplicationUserId)
                            {
                                <a type="submit" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="dropdown-item text-center">Edit</a>

                                <form method="post" id="postDeleteFrom" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">
                                    <button type="submit" class="dropdown-item text-center" style="cursor: pointer">Delete</button>
                                </form>
                            }
                            else
                            {
                                // TODO: Implement Post Report
                                <a class="dropdown-item" href="#">Report</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="text-muted mb-2"> <i class="fa fa-clock-o"></i>@post.CreatedOn.ToLocalTime().ToString("g")</div>
            <h1>@post.Title</h1>
            <h6>@post.Content</h6>
        </div>
        <div class="card-footer">
            <div class="feed">
                <a class="like-btn">
                    <p id="reactType-@post.Id"><i class="fas fa-thumbs-up"></i> @Enum.GetName(typeof(ReactionType), post.ReactionType)</p>
                    <div class="reaction-box">
                        <div class="reaction-icon">
                            <img src="/img/reacts/like.gif" postId="@post.Id" react-type="Like" data-react="1" style="width: 60px; height: 50px;" />
                            <label>Like</label>
                        </div>
                        <div class="reaction-icon">
                            <img src="/img/reacts/love.gif" postId="@post.Id" react-type="Love" data-react="2" style="width: 60px; height: 50px;" />
                            <label>Love</label>
                        </div>
                        <div class="reaction-icon">
                            <img src="/img/reacts/care.gif" postId="@post.Id" react-type="Care" data-react="3" style="width: 60px; height: 50px;" />
                            <label>Care</label>
                        </div>
                        <div class="reaction-icon">
                            <img src="/img/reacts/haha.gif" postId="@post.Id" react-type="Haha" data-react="4" style="width: 60px; height: 50px;" />
                            <label>Haha</label>
                        </div>
                        <div class="reaction-icon">
                            <img src="/img/reacts/wow.gif" postId="@post.Id" react-type="Wow" data-react="5" style="width: 60px; height: 50px;" />
                            <label>Wow</label>
                        </div>
                        <div class="reaction-icon">
                            <img src="/img/reacts/sad.gif" postId="@post.Id" react-type="Sad" data-react="6" style="width: 60px; height: 50px;" />
                            <label>Sad</label>
                        </div>
                        <div class="reaction-icon">
                            <img src="/img/reacts/angry.gif" postId="@post.Id" react-type="Angry" data-react="7" style="width: 60px; height: 50px;" />
                            <label>Angry</label>
                        </div>
                    </div>
                </a>
                <a href="#" class="card-link text-left"><i class="fa fa-comment"></i> Comment</a>
                <a href="#" class="card-link"><i class="fas fa-share"></i> Share</a>
            </div>
            <div class="text-left ml-2">
                <a id="totalReacts-@post.Id" class="text-primary">@post.TotalReacts reacts</a>
            </div>
        </div>
    </div>
}

<partial name="_PagingPartial" model="this.Model"/>