@model AYN.Web.ViewModels.Administration.Ads.ListAllAdsViewModel

@{
    this.ViewData["Title"] = "All Ads";
}

<div class="text-center">
    <h1>All Ads</h1>
</div>

<partial name="_PagingPartial" model="@this.Model" />
<div class="table-responsive">
    <table class="table table-sm table-hover ">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Username</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Created On</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in this.Model.AllAds)
            {
                <tr>
                    <th>
                    </th>
                    <th><a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id">@user.Username</a></th>
                    <th>@user.FirstName</th>
                    <th>@user.LastName</th>
                    <th>@user.CreatedOn.ToString("d")</th>
                    <th>@user.Email</th>
                    <th>@user.PhoneNumber</th>
                    <th>
                        @if (user.IsBanned)
                        {
                            <form method="post" asp-controller="Users" asp-action="Unban" asp-route-id="@user.Id">
                                <button type="submit" class="btn btn-danger btn-sm">Unban</button>
                            </form>
                        }
                        else
                        {
                            <a class="btn btn-danger btn-sm" asp-controller="Users" asp-action="Ban" asp-route-id="@user.Id">Ban</a>
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_PagingPartial" model="@this.Model" />