@model AYN.Web.ViewModels.Administration.Ads.ListAllAdsViewModel

@{
    this.ViewData["Title"] = "All Ads";
}

<div class="text-center">
    <h1>All Ads</h1>
</div>

<partial name="_PagingPartial" model="@this.Model" />
<div class="table-responsive">
    <table class="table table-sm table-hover ">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Owner</th>
                <th scope="col">Created On</th>
                <th scope="col">Archived</th>
                <th scope="col">Deleted</th>
                <th scope="col">Promoted</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ad in this.Model.AllAds)
            {
                <tr>
                    <th><a asp-area="" asp-controller="Users" asp-action="Profile" asp-route-id="@ad.AddedByUserId">@ad.AddedByUserUsername</a></th>
                    <th>@ad.Name</th>
                    <th>@ad.CreatedOn.ToString("d")</th>
                    <th>
                        @if (ad.IsArchived)
                        {
                        }
                        else
                        {
                            <div class="pl-4">
                                <i class="fas fa-times text-primary"></i>
                            </div>
                        }
                    </th>
                    <th>
                        @if (ad.IsDeleted)
                        {
                        }
                        else
                        {
                            <div class="pl-4">
                                <i class="fas fa-times text-primary"></i>
                            </div>
                        }
                    </th>
                    <th>
                        @if (ad.IsPromoted)
                        {
                        }
                        else
                        {
                            <div class="pl-4">
                                <i class="fas fa-times text-primary"></i>
                            </div>
                        }
                    </th>
                    <th>
                        <div class="dropdown dropleft">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropleft
                            </button>
                            <div class="dropdown-menu">
                                <button class="dropdown-item" type="button">Archive</button>
                                <button class="dropdown-item" type="button">Delete</button>
                                <button class="dropdown-item" type="button">Promote</button>
                            </div>
                        </div>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
<partial name="_PagingPartial" model="@this.Model" />