@using AYN.Web.ViewModels.Ads
@using Microsoft.AspNetCore.Html

@model AYN.Web.ViewModels.Ads.ListAllAdsViewModel

@{
    this.ViewData["Title"] = "All Ads";
}

<div class="text-center">
    <h1>Ads</h1>
    <h4>@this.Model.TotalResults Results Found!</h4>
</div>
<br />



<form method="get" asp-controller="Ads" asp-action="All" class="px-3">
    <partial name="_SearchBarPartial" />
</form>

@if (this.Model.AllFromSearch.Any())
{
    <partial name="_SortingsPartial" model="@this.Model" />
    <partial name="_PagingPartial" model="this.Model" />

    <div class="float-right" style="width: 300px;height: 300px">
        <div class="g-mb-20">
            <nav class="sidebar card py-4 mb-4">
                <ul class="nav flex-column" id="nav_accordion">
                    <li class="nav-item">
                        <h3 class="text-center">Categories</h3>
                        <hr />
                    </li>
                    @{ var categoriesCounter = 1;}
                    @foreach (var (key, value) in this.Model.AllCategoriesWithAllSubCategories)
                    {
                        <li class="nav-item" onmouseover="showSubCategories(this)" onmouseout="hideSubCategories(this)">
                            <a class="nav-link font-italic font-weight-bolder text-primary" asp-controller="Ads" asp-action="All" asp-route-categoryId="@key.Id">
                                @categoriesCounter. @key.Name <i class="fas fa-level-down-alt"></i>
                            </a>
                            <ul class="list-unstyled collapse">
                                @{ var subCategoriesCounter = 1;}
                                @foreach (var subCategory in value)
                                {
                                    <li class="pl-5">
                                        <a class="text-decoration-none text-primary nav-linking" asp-controller="Ads" asp-action="All" asp-route-categoryId="@subCategory.Id">
                                            @subCategoriesCounter. <i class="fas fa-chevron-right"></i> @subCategory.Name
                                        </a>
                                    </li>
                                    subCategoriesCounter++;
                                }
                            </ul>
                        </li>
                        categoriesCounter++;
                    }
                </ul>
            </nav>
        </div>
    </div>

    Func<GetRecentAdsViewModel, IHtmlContent> DisplayAds() =>
@<div class="card col-sm-12 col-md-5 col-lg-5 mr-5 mb-5">
    <h5 class="card-title text-center">
    </h5>
    <img class="card-img-top" src="/img/AdsPictures/1-@item.Id.@item.PictureExtension" alt="Card image cap">
    <hr />
    <div class="card-body">
        <div class="text-center">
            <a class="text-primary font-weight-bolder" asp-controller="Ads" asp-action="Details" asp-route-id="@item.Id">@item.Name</a><br />
            <p class="text-warning">@item.Price$</p>
        </div>
    </div>
</div>;

<div class="row">
    @foreach (var ad in this.Model.AllFromSearch)
    {
        @DisplayAds()(ad)
    }
</div>
<br />

<partial name="_PagingPartial" model="this.Model" />
}

<script>
    function showSubCategories(rootElement) {
        const list = rootElement.getElementsByClassName("collapse")[0];
        list.classList.add("show");
    }

    function hideSubCategories(rootElement) {
        const list = rootElement.getElementsByClassName("collapse")[0];
        list.classList.remove("show");
    }
</script>