@using System.Security.Claims
@model AYN.Web.ViewModels.Ads.GetDetailsViewModel

@{
    this.ViewData["Title"] = "Ad Details";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>

<div class="row">
    <div class="col-md-9">
        <div class="card">
            <small class="text-muted">123 views</small>
            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (var i = 1; i <= this.Model.PictureExtensions.Count(); i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" @(i == 1 ? "class='active'" : "")></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @{ var counter = 1;}
                    @foreach (var pictureExtension in this.Model.PictureExtensions)
                    {
                        <div class="carousel-@(counter == 1 ? "item active" : "item")">
                            <img class="d-block w-100" src="/img/AdsPictures/@counter-@this.Model.Id.@pictureExtension" alt="@this.Model.Name">
                        </div>
                        counter++;
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br />
            <div class="text-center">
                <h3 class="text-primary font-weight-bolder">@Model.Name<br /></h3>
                <hr />
                <h6>
                    <span class="float-left font-weight-normal pl-2">
                        <a class="text-danger font-weight-bolder" href="">
                            <i class="fas fa-heart"></i><br /> Favorite
                        </a>
                    </span>
                    <span class="float-left font-weight-normal pl-5">
                        <a class="text-warning font-weight-bolder" href="">
                            <i class="fas fa-list-ol"></i><br /> @Model.Category
                        </a>
                    </span>
                    <span class="float-left font-weight-normal pl-5">
                        <a class="text-warning font-weight-bolder" href="">
                            <i class="fas fa-list-ul"></i><br /> @Model.SubCategory
                        </a>
                    </span>
                    <span class="float-left font-weight-normal pl-5">
                        <a class="text-primary font-weight-bolder" href="">
                            <i class="fas fa-weight"></i><br /> @Model.Weight kg
                        </a>
                    </span>
                    <span class="float-left font-weight-normal pl-5">
                        <a class="text-info font-weight-bolder" href="">
                            <i class="fas fa-chevron-up"></i><br /> @Model.ProductCondition
                        </a>
                    </span>
                    <span class="float-left font-weight-normal pl-5">
                        <a class="text-success font-weight-bolder" href="">
                            <i class="fas fa-ad"></i><br /> @Model.AdType
                        </a>
                    </span>
                </h6>
            </div>
            <hr />
            <div>
                <span class="float-left text-primary font-weight-normal">
                    <i class="fas fa-map-marked"></i> @Model.Town<br />
                    <i class="fas fa-truck"></i> @Model.DeliveryTake
                </span>
                <span class="text-primary font-weight-normal float-right">
                    <i class="fas fa-cloud-upload-alt"></i> @this.Model.CreatedOnAsString<br />
                    <i class="fas fa-sync-alt"></i> @{
                        if (this.Model.ModifiedOn.Year == 0001)
                        {
                            <text>never updated</text>
                        }
                        else
                        {
                            <text> @this.Model.ModifiedOnAsString</text>
                        }
                    }
                </span>
            </div>
            <hr />
            <div class="text-center">
                <h6 class=" text-primary">Description</h6>
                <p class="font-italic ">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-primary font-weight-bolder">
            <h1 class="text-white text-center"><i class="fas fa-tag"></i> @Model.Price $</h1>
        </div>
        <div class="bg-primary font-weight-bolder">
            <h2 class="text-white text-center"><i class="fas fa-mobile-alt"></i> @Model.AddedByUserPhoneNumber</h2>
        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="/img/AdsPictures/2-286c4f21-1875-4363-be62-ddc8ac514257.jpg" alt="Card image cap">
                <div class="card-body">
                    <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.AddedByUserId">@Model.AddedByUserUsername</a>
                    <p class="card-text text-center"><small class="text-muted">In AYN Since: @Model.AddedByUserCreatedOnAsString</small></p>
                    <hr />
                    <div class="text-center">
                        <a href="" class="text-primary text-center">@Model.ActiveAdsCount active ads</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="card-deck">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center">More from this user</h5>
                    <hr />
                    <div class="float-left">
                        <img class="card-img-top" src="/img/AdsPictures/2-286c4f21-1875-4363-be62-ddc8ac514257.jpg" alt="Card image cap" style="width: 100px; height: 100px;">
                        <div class="float-center">
                            <a href="" class="text-primary card-text text-center">Boots 100 $</a>
                        </div>
                    </div>
                    <div class="float-right">
                        <img class="card-img-top" src="/img/AdsPictures/2-286c4f21-1875-4363-be62-ddc8ac514257.jpg" alt="Card image cap" style="width: 100px; height: 100px;">
                        <div class="float-center">
                            <a href="" class="text-primary card-text text-center">Boots 100 $</a>
                        </div>
                    </div>
                    <div class="float-left">
                        <img class="card-img-top" src="/img/AdsPictures/2-286c4f21-1875-4363-be62-ddc8ac514257.jpg" alt="Card image cap" style="width: 100px; height: 100px;">
                        <div class="float-center">
                            <a href="" class="text-primary card-text text-center">Boots 100 $</a>
                        </div>
                    </div>
                    <div class="float-right">
                        <img class="card-img-top" src="/img/AdsPictures/2-286c4f21-1875-4363-be62-ddc8ac514257.jpg" alt="Card image cap" style="width: 100px; height: 100px;">
                        <div class="float-center">
                            <a href="" class="text-primary card-text text-center">Boots 100 $</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        @if (this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value != this.Model.AddedByUserId)
        {
            <div class="text-center">
                <a asp-controller="Reports" asp-action="Create" asp-route-id="@this.Model.Id" asp-route-reportedUser="@this.Model.AddedByUserId" class="text-danger text-center">
                    <i class="fas fa-flag"></i> Report this ad
                </a>
            </div>
        }
        <br />
    </div>
</div>
