@using System.Security.Claims

@model AYN.Web.ViewModels.Ads.GetDetailsViewModel

@{
    this.ViewData["Title"] = "Ad Details";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>
<form method="get" asp-action="Delete" id="deleteForm" asp-route-id="@Model.Id">
</form>
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div>
                <small><i class="fas fa-eye text-primary"></i> @Model.TotalViews</small>
                @if (this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value == this.Model.AddedByUserId)
                {
                    <small><a asp-controller="Ads" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit text-warning ml-3"></i></a></small>

                    <small>
                        <a data-toggle="modal" data-target="#deleteModal" asp-controller="Ads" asp-action="Delete" asp-route-id="@Model.Id"><i class="fas fa-times text-danger ml-3"></i></a>
                    </small>
                    <small><a asp-controller="Ads" asp-action="Promote" asp-route-id="@Model.Id"><i class="fas fa-trophy text-success ml-3"></i></a></small>

                    <div>
                        <form asp-controller="Home" asp-action="Processing" method="POST">
                            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_51JC369DjgxsARjFqEYyTTQYKHthtU3IFY0xfHpGRdLL0BVlvRMmBrrU488pdLUKjHzHvHkHTJoZzKFi3ucsj4wwp00d7D0oPEk" data-amount="10" data-name="AYN - All You Need" data-description="" data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="en" data-zip-code="true" data-label="Pay">
                            </script>
                        </form>
                    </div>
                }
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (var i = 1; i <= this.Model.ImagesUrls.Count(); i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i" @(i == 1 ? "class='active'" : "")></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @{ var counter = 1;}
                    @foreach (var imageUrl in this.Model.ImagesUrls)
                    {
                        <div class="carousel-@(counter == 1 ? "item active" : "item")">
                            <img class="d-block w-100" src="@imageUrl" alt="@this.Model.Name" style="height: 500px;">
                        </div>

                        counter++;
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <br />
            <div class="text-center">
                <h3 class="text-primary font-weight-bolder">@Model.Name<br /></h3>
                <hr />
                <h6>
                    @if (this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value != this.Model.AddedByUserId)
                    {
                        <span class="float-left font-weight-normal pl-2">
                            @if (!this.Model.IsItInFavoritesForCurrentUser)
                            {
                                <a class="text-danger font-weight-bolder" asp-controller="Wishlists" asp-action="AddToWishlist" asp-route-adId="@Model.Id" asp-route-redirectUrl="/Ads/Details?id=@Model.Id">
                                    <i class="fas fa-heart" style="font-size: 2rem;"></i><br />
                                </a>
                            }
                            else
                            {
                                <a class="text-danger font-weight-bolder" asp-controller="Wishlists" asp-action="RemoveFromWishlist" asp-route-id="@Model.Id" asp-route-redirectUrl="/Ads/Details?id=@Model.Id">
                                    <i class="fas fa-times" style="font-size: 2rem;"></i><br />
                                </a>
                            }
                        </span>
                    }
                    <span class="float-left font-weight-normal pl-5">
                        <a class="text-warning font-italic font-weight-bolder" asp-controller="Ads" asp-action="Search" asp-route-categoryId="@Model.CategoryId">
                            <i class="fas fa-list-ol"></i><br /> @Model.Category
                        </a>
                    </span>
                    <span class="float-left font-weight-normal pl-5">
                        <a class="text-warning font-italic font-weight-bolder" asp-controller="Ads" asp-action="Search" asp-route-categoryId="@Model.SubCategoryId">
                            <i class="fas fa-list-ul"></i><br /> @Model.SubCategory
                        </a>
                    </span>
                    <span class="float-left font-weight-normal pl-5 text-success font-weight-bolder">
                        <i class="fas fa-weight"></i><br /> @Model.Weight kg
                    </span>
                    <span class="float-left font-weight-normal pl-5 text-primary font-weight-bolder">
                        <i class="fas fa-chevron-up"></i><br /> @Model.ProductCondition
                    </span>
                    <span class="float-left font-weight-normal pl-5 text-info font-weight-bolder">
                        <i class="fas fa-ad"></i><br /> @Model.AdType
                    </span>
                </h6>
            </div>
            <hr />
            <div>
                <span class="float-left text-primary font-weight-bolder">
                    <i class="fas fa-map-marked"></i> <a class="text-primary font-italic font-weight-bolder" asp-controller="Ads" asp-action="Search" asp-route-town="@Model.Town">@Model.Town</a><br />
                    <i class="fas fa-truck"></i> @Model.DeliveryTake
                </span>
                <span class="text-primary  font-weight-bolder float-right">
                    <i class="fas fa-cloud-upload-alt"></i> @this.Model.CreatedOnAsString<br />
                    <i class="fas fa-sync-alt"></i> @{
                        if (this.Model.ModifiedOn.Year == 0001)
                        {
                            <text>never updated</text>
                        }
                        else
                        {
                            <text> @this.Model.ModifiedOnAsString</text>
                        }
                    }
                </span>
            </div>
            <hr />
            <div class="text-center">
                <h6 class=" text-primary font-weight-bolder">Description</h6>
                <p class="font-italic font-weight-bolder">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="bg-primary font-weight-bolder">
            <h1 class="text-white text-center"><i class="fas fa-tag"></i> @Model.Price $</h1>
        </div>
        <div class="bg-primary font-weight-bolder">
            <h2 class="text-white text-center"><i class="fas fa-mobile-alt"></i> @Model.AddedByUserPhoneNumber</h2>
        </div>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="@Model.AddedByUserAvatarImageUrl" alt="Card image cap">
                <div class="card-body text-center">
                    <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.AddedByUserId">@Model.AddedByUserUsername</a>
                    <p class="card-text text-center"><small class="text-muted">In AYN Since: @Model.AddedByUserCreatedOnAsString</small></p>
                    <hr />
                    <div class="text-center">
                        <a href="" class="text-primary text-center">@Model.ActiveAdsCount active ads</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        @await this.Component.InvokeAsync("GetMoreAdsFromUser", new { townName = Model.Town, categoryId = Model.CategoryId, subCategoryId = Model.SubCategoryId, currentAdId = Model.Id })
        <br />
        @if (this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value != this.Model.AddedByUserId)
        {
            <div class="text-center">
                <a asp-controller="Reports" asp-action="Create" asp-route-id="@this.Model.Id" asp-route-reportedUser="@this.Model.AddedByUserId" class="text-danger text-center">
                    <i class="fas fa-flag"></i> Report this ad
                </a>
            </div>
        }
        <br />
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <div class="text-center">
            <h5>All Comments (@Model.TotalCommentsCount)</h5>
        </div>
        @foreach (var comment in this.Model.Comments.OrderByDescending(c => c.CreatedOn))
        {
            <div class="card p-3">
                <div>
                    <img src="/img/UsersAvatars/@if (comment.AddedByUserAvatarExtension == null){<text>@comment.AddedByUserId.ToString()_DEFAULT.png</text>}else{<text>@comment.AddedByUserId.@comment.AddedByUserAvatarExtension</text>}" alt="" class="rounded-circle mr-2" style="width: 30px; height: 30px;">
                    <a asp-controller="Users" asp-action="Profile" asp-route-id="@comment.AddedByUserId">@comment.AddedByUserUsername</a> <br />
                    <small><i class="fas fa-calendar-alt text-right text-primary ml-2 mt-2"></i> @comment.CreatedOn.ToString("g")</small>
                </div>
                <span>
                    <small class="font-weight-bold text-primary">@comment.Content</small>
                </span>
                <div>
                    @if (comment.AddedByUserId == this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
                    {
                        <a asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" asp-route-adId="@Model.Id"><i class="fas fa-times text-danger"></i></a> <i class="fa fa-check-circle-o check-icon"></i>
                        <a asp-controller="Comments" asp-action="Edit" asp-route-commentId="@comment.Id" asp-route-adId="@Model.Id"><i class="fas fa-edit text-warning"></i></a>
                    }
                    <a class="text-success" asp-controller="Comments" asp-action="Vote" asp-route-adId="@Model.Id" asp-route-vote="0" asp-route-commentId="@comment.Id">
                        @comment.CommentUpVotesCount <i class="fas fa-long-arrow-alt-up"></i>
                    </a>&nbsp;
                    <a class="text-danger" asp-controller="Comments" asp-action="Vote" asp-route-adId="@Model.Id" asp-route-vote="1" asp-route-commentId="@comment.Id">
                        <i class="fas fa-long-arrow-alt-down"></i> @comment.CommentDownVotesCount
                    </a>
                </div>
            </div>
        }
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <h5>Write a comment</h5>
        </div>
        <form method="post" asp-controller="Comments" asp-action="Create" asp-route-adId="@Model.Id">
            <div class="card p-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text">
                            <i class="fas fa-question-circle"></i>
                        </label>
                    </div>
                    <textarea rows="4" name="content" placeholder="Comment" class="form-control"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Do you want to delete "@Model.Name"?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="deleteForm.submit()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>