@model AYN.Web.ViewModels.Ads.ListGetFromSearchViewModel

@{
    this.ViewData["Title"] = "Search Results";
}

<div class="text-center">
    <h1>#@this.Model.TotalResults Results Found!</h1>
</div>
<div class="row">
    
    <div class="card col-md-12 d-flex justify-content-center text-center">
        <div class="text-center mt-2">
            <h4>Sort them by:</h4>
            <hr />
        </div>

        <div class="card-body">
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="newest" asp-controller="Ads" asp-action="GetFromSearch"><i class="fas fa-angle-double-up"></i> Newest</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="oldest" asp-controller="Ads" asp-action="GetFromSearch"><i class="fas fa-angle-double-down"></i> Oldest</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="nameAsc" asp-controller="Ads" asp-action="GetFromSearch"><i class="fas fa-sort-alpha-up"></i> Name alphabetically</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="nameDesc" asp-controller="Ads" asp-action="GetFromSearch"><i class="fas fa-sort-alpha-down"></i> Name reversed alphabetically</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="priceAsc" asp-controller="Ads" asp-action="GetFromSearch"><i class="fas fa-sort-numeric-up"></i> Cheapest</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="priceDesc" asp-controller="Ads" asp-action="GetFromSearch"><i class="fas fa-sort-numeric-down"></i> Expensive</a>
        </div>
        <hr />
    </div>
</div>
<br />

<div class="row">

    @foreach (var ad in this.Model.AllFromSearch)
    {
        <div class="card col-md-4">
            <h5 class="card-title text-center">
            </h5>
            <img class="card-img-top" src="/img/AdsPictures/1-@ad.Id.@ad.PictureExtension" alt="Card image cap">
            <hr />
            <div class="card-body">
                <div class="text-center">
                    <a asp-controller="Ads" asp-action="Details" asp-route-id="@ad.Id">@ad.Name</a><br />
                    @ad.Price$
                </div>
            </div>
        </div>
    }
</div>

<partial name="_PagingPartial" model="this.Model" />