<div class="row">
    <div class="card col-md-12 d-flex justify-content-center text-center">
        <div class="text-center mt-2">
            <h4>Sort them by:</h4>
            <hr />
        </div>

        <div class="card-body">
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="createdOnDesc"><i class="fas fa-angle-double-up"></i> Newest</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="createdOnAsc"><i class="fas fa-angle-double-down"></i> Oldest</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="nameAsc"><i class="fas fa-sort-alpha-up"></i> Name alphabetically</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="nameDesc"><i class="fas fa-sort-alpha-down"></i> Name reversed alphabetically</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="priceAsc"><i class="fas fa-sort-numeric-up"></i> Cheapest</a>
            <a class="btn btn-primary btn-sm mr-3" asp-route-search="@Model.Search" asp-route-orderBy="priceDesc"><i class="fas fa-sort-numeric-down"></i> Expensive</a>
            <a class="btn btn-danger btn-sm mr-3" asp-route-orderBy="createdOnDesc" asp-route-id="1"><i class="fas fa-times"></i> Clear</a>
        </div>
        <hr />
    </div>
</div>
<br />