@using AYN.Data.Models.Enumerations

@model AYN.Web.ViewModels.Users.EditUserViewModel

@{
    this.ViewData["Title"] = "Edit Profile General Info";

    var towns = this.Model
        .Towns
        .Select(c => new SelectListItem(c.Value, c.Key));
}

<div class="text-center">
    <h1>
        @this.ViewData["Title"]
    </h1>
    <a href="/Identity/Account/Manage">Manage Settings</a>
</div>

<form method="post" class="col-md-6 offset-md-3 text-center" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.FirstName" class="text-danger"></span>

        First name
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.FirstName" class="input-group-text">
                    <i class="fas fa-grin"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.FirstName" placeholder="First name" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.MiddleName" class="text-danger"></span>

        Middle name
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.MiddleName" class="input-group-text">
                    <i class="fas fa-grin"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.MiddleName" placeholder="Middle name (optional)" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.LastName" class="text-danger"></span>

        Last name
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.LastName" class="input-group-text">
                    <i class="fas fa-grin"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.LastName" placeholder="Last name" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.About" class="text-danger"></span>

        About you
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.About" class="input-group-text">
                    <i class="fas fa-info"></i>
                </label>
            </div>

            <textarea asp-for="@Model.EditUserGeneralInfoViewModel.About" rows="4" placeholder="Last name" class="form-control"></textarea>
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.FacebookUrl" class="text-danger"></span>

        Facebook Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.FacebookUrl" class="input-group-text">
                    <i class="fab fa-facebook"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.FacebookUrl" placeholder="Facebook Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.InstagramUrl" class="text-danger"></span>

        Instagram Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.InstagramUrl" class="input-group-text">
                    <i class="fab fa-instagram"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.InstagramUrl" placeholder="Instagram Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.TikTokUrl" class="text-danger"></span>

        Tik Tok Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.TikTokUrl" class="input-group-text">
                    <i class="fab fa-tiktok"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.TikTokUrl" placeholder="TikTok Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.TwitterUrl" class="text-danger"></span>

        Twitter Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.TwitterUrl" class="input-group-text">
                    <i class="fab fa-twitter"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.TwitterUrl" placeholder="Twitter Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.WebsiteUrl" class="text-danger"></span>

        Website Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.WebsiteUrl" class="input-group-text">
                    <i class="fas fa-globe"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.WebsiteUrl" placeholder="Website Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.BirthDay" class="text-danger"></span>

        BirthDay
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.BirthDay" class="input-group-text">
                    <i class="fas fa-birthday-cake"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.BirthDay" placeholder="BirthDay" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.Gender" class="text-danger"></span>

        Gender
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.Gender" class="input-group-text">
                    <i class="fas fa-venus-mars"></i>
                </label>
            </div>
            <select asp-for="@Model.EditUserGeneralInfoViewModel.Gender" class="form-control">
                <option selected disabled>Choose your gender</option>
                @foreach (int gender in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gender">@Enum.GetName(typeof(Gender), gender)</option>
                }
            </select>
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.TownId" class="text-danger"></span>

        Town
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.TownId" class="input-group-text">
                    <i class="fas fa-building"></i>
                </label>
            </div>
            <select asp-for="@Model.EditUserGeneralInfoViewModel.TownId" class="form-control" asp-items="towns">
                <option selected disabled>Choose Town</option>
            </select>
        </div>
    </div>

    <div class="row justify-content-sm-center mt-3">
        <div class="image mb-2" id="preview-picture1">
            Avatar
            <label for="image1" class="image-upload"></label>
            <input type="file" asp-for="@Model.EditUserGeneralInfoViewModel.Avatar" id="image1" class="image-upload" />
        </div>
        <div class="image mb-2 ml-5" id="preview-picture2">
            Thumbnail
            <label for="image2" class="image-upload"></label>
            <input type="file" asp-for="@Model.EditUserGeneralInfoViewModel.Thumbnail" id="image2" class="image-upload" />
        </div>
    </div>

    <br />
    <input type="hidden" asp-for="@Model.EditUserGeneralInfoViewModel.Id" />
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    <hr />
</form>


<script>
    $(document).on('change', "#image1", function () {
        let id = $(this).parent().attr('id');
        console.log(id);
        console.log(1);
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return;
        if (/^image/.test(files[0].type)) {
            var ReaderObj = new FileReader();
            ReaderObj.readAsDataURL(files[0]);
            ReaderObj.onloadend = function () {
                $("#" + id).css("background-image", "url(" + this.result + ")");
            }
        } else {
            alert("Upload an image");
        }
    });

    $(document).on('change', "#image2", function () {
        let id = $(this).parent().attr('id');
        console.log(id);
        console.log(1);
        var files = !!this.files ? this.files : [];
        if (!files.length || !window.FileReader) return;
        if (/^image/.test(files[0].type)) {
            var ReaderObj = new FileReader();
            ReaderObj.readAsDataURL(files[0]);
            ReaderObj.onloadend = function () {
                $("#" + id).css("background-image", "url(" + this.result + ")");
            }
        } else {
            alert("Upload an image");
        }
    });
</script>

<style>
    .image {
        width: 150px;
        height: 150px;
        border-radius: 50px;
        background-image: url("/img/upload-file-image.png");
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }

    .image-preset {
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
    }


    .image-upload {
        opacity: 0;
        z-index: 100;
        width: 80px;
        height: 150px;
        position: absolute;
    }

        .image-upload:hover, .image-preset:hover, .image:hover {
            cursor: pointer;
        }

    input[type='file'] {
        display: none;
    }

    @@media(max-width: 980px) {
        .image {
            width: 100px;
        }

        .image-upload {
            width: 100px;
        }
    }
</style>