@using AYN.Data.Models.Enumerations

@model AYN.Web.ViewModels.Users.EditUserViewModel

@{
    this.ViewData["Title"] = "Edit Profile General Info";

    var towns = this.Model
        .Towns
        .Select(c => new SelectListItem(c.Value, c.Key));
}

<div class="text-center">
    <h1>
        @this.ViewData["Title"]
    </h1>
</div>

<form method="post" class="col-md-6 offset-md-3 text-center" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.FirstName" class="text-danger"></span>

        First name
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.FirstName" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.FirstName" placeholder="First name" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.MiddleName" class="text-danger"></span>

        Middle name
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.MiddleName" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.MiddleName" placeholder="Middle name (optional)" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.LastName" class="text-danger"></span>

        Last name
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.LastName" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.FirstName" placeholder="Last name" class="form-control" />
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.About" class="text-danger"></span>

        About you
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.About" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.About" placeholder="Last name" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.FacebookUrl" class="text-danger"></span>

        Facebook Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.FacebookUrl" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.FacebookUrl" placeholder="Facebook Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.InstagramUrl" class="text-danger"></span>

        Instagram Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.InstagramUrl" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.InstagramUrl" placeholder="Instagram Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.TikTokUrl" class="text-danger"></span>

        Tik Tok Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.TikTokUrl" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.TikTokUrl" placeholder="TikTok Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.TwitterUrl" class="text-danger"></span>

        Twitter Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.TwitterUrl" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.TwitterUrl" placeholder="Twitter Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.WebsiteUrl" class="text-danger"></span>

        Website Url
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.WebsiteUrl" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.WebsiteUrl" placeholder="Website Url" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.BirthDay" class="text-danger"></span>

        BirthDay
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.BirthDay" class="input-group-text">
                    <i class="fas fa-file-signature"></i>
                </label>
            </div>

            <input asp-for="@Model.EditUserGeneralInfoViewModel.BirthDay" placeholder="BirthDay" class="form-control">
        </div>
    </div>

    <div>
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.Gender" class="text-danger"></span>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label asp-for="@Model.EditUserGeneralInfoViewModel.Gender" class="input-group-text">
                    <i class="fas fa-chevron-up"></i>
                </label>
            </div>
            <select asp-for="@Model.EditUserGeneralInfoViewModel.Gender" class="form-control">
                <option selected disabled>Choose your gender</option>
                @foreach (int gender in Enum.GetValues(typeof(Gender)))
                {
                    <option value="@gender">@Enum.GetName(typeof(Gender), gender)</option>
                }
            </select>
        </div>
    </div>
    
<div>
    <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.TownId" class="text-danger"></span>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label asp-for="@Model.EditUserGeneralInfoViewModel.TownId" class="input-group-text">
                <i class="far fa-building"></i>
            </label>
        </div>
        <select asp-for="@Model.EditUserGeneralInfoViewModel.TownId" class="form-control" asp-items="towns">
            <option selected disabled>Choose Town</option>
        </select>
    </div>
</div>

    <div class="form-group">
        <label for="customFile">Change the avatar<br />(optional)</label>
        <input type="file" class="form-control-file" id="customFile" asp-for="@Model.EditUserGeneralInfoViewModel.Avatar" />
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.Avatar" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="customFile">Change the thumbnail<br />(optional)</label>
        <input type="file" class="form-control-file" id="customFile" asp-for="@Model.EditUserGeneralInfoViewModel.Thumbnail" />
        <span asp-validation-for="@Model.EditUserGeneralInfoViewModel.Thumbnail" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    <hr />
</form>