@using System.Security.Claims

@model AYN.Web.ViewModels.Users.GetUserProfileBaseDetailsViewModel

@{
    this.ViewData["Title"] = "Profile";
}

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Heeeey!</strong> @this.TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<main>
    <div class="card ">
        <img src="/img/UsersThumbnails/@if (this.Model.ThumbnailExtension == null){<text>@this.Model.Id.ToString()_DEFAULT.png</text>}else{<text>@this.Model.Id.@this.Model.ThumbnailExtension</text>}" alt="">
        <div class="card-body social-prof">
            <div class="wrapper">
                <img src="/img/UsersAvatars/@if (this.Model.AvatarExtension == null){<text>@this.Model.Id.ToString()_DEFAULT.png</text>}else{<text>@this.Model.Id.@this.Model.AvatarExtension</text>}" alt="" class="user-profile">
                @if (this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value == this.Model.Id)
                {
                    <h6>
                        <a class="text-primary" asp-controller="Users" asp-action="EditGeneralInfo" asp-route-id="@Model.Id">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </h6>
                }
                <h3>@Model.FirstName @Model.LastName</h3>
                <form method="post" id="followForm" asp-controller="Users" asp-action="Unfollow" asp-route-id="@this.Model.Id">
                    <button onclick="followForm.submit()" class="btn btn-danger btn-sm"><i class="fas fa-star"></i> Unfollow</button>
                </form>
                <form method="post" id="followForm" asp-controller="Users" asp-action="Follow" asp-route-id="@this.Model.Id">
                    <button onclick="followForm.submit()" class="btn btn-success btn-sm"><i class="fas fa-star"></i> Follow</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="h7">
                        <strong>About:</strong>
                        <p>@Model.About</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="h6 text-muted">Followers</div>
                        <a href="#" class="h5">@Model.FolloweesCount</a>
                    </li>
                    <li class="list-group-item">
                        <div class="h6 text-muted">Following</div>
                        <a href="#" class="h5">@Model.FollowingsCount</a>
                    </li>
                </ul>
            </div>
            @await this.Component.InvokeAsync("GetUserRecentAds", new { userId = this.Model.Id })
            @await this.Component.InvokeAsync("GetUserAllAds", new { userId = this.Model.Id })
        </div>
        <div class="col-lg-6 gedf-main text-center">
            @if (this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value == this.Model.Id)
            {
                <div class="card social-timeline-card">
                    <form method="post" id="postForm" asp-controller="Posts" asp-action="Create">
                        <div class="card-body">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade active show" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                    <div class="form-group">
                                        <input class="form-control" name="title" placeholder="Title" />
                                    </div>
                                </div>
                                <div class="tab-pane fade active show" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                    <div class="form-group">
                                        <textarea class="form-control" name="content" rows="3" placeholder="What are you thinking?"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-globe"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a>
                                    </div>
                                </div>
                                <button type="submit" onclick="postForm.submit()" class="btn btn-primary btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
            @await this.Component.InvokeAsync("GetUserPosts", new { userId = this.Model.Id, id = Model.PagingId })
        </div>
        @await this.Component.InvokeAsync("GetSuggestionPeople", new { currentUserId = this.User.FindFirst(ClaimTypes.NameIdentifier)?.Value, openedUserId = this.Model.Id })
    </div>
</main>

<script>
    $(function () {
        $(".like-btn").hover(function () {
            $(".reaction-icon").each(function (i, e) {
                setTimeout(function () {
                    $(e).addClass("show");
                }, i * 100);
            });
        }, function () {
            $(".reaction-icon").removeClass("show");
        });
    })
</script>

<form method="post" id="antiForgeryForm"></form>
<script>
    $("img[data-react]").on("click", function (el) {
        var reactValue = $(this).attr("data-react");
        var postId = $(this).attr("postId");
        var reactType = $(this).attr("react-type");
        var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
        var data = { postId: postId, reactValue: reactValue, reactType: reactType };

        console.log(postId);
        console.log(reactValue);
        console.log(reactType);
        console.log(data);

        $.ajax({
            type: "POST",
            url: "/api/PostReacts",
            data: JSON.stringify(data),
            headers: {
                'X-CSRF-TOKEN': antiForgeryToken
            },
            success: function (data) {
                $(`#reactType-${postId}`).html('<i class="fas fa-thumbs-up"> ' + reactType);
                $(`#totalReacts-${postId}`).html(data.totalReacts + " reacts");
            },
            contentType: 'application/json',
        });
    });
</script>
