@model AYN.Web.ViewModels.Users.UserWishlistViewModel

@{
    this.ViewData["Title"] = "Wishlist";
}

<div class="text-center">
    <h1>@this.ViewData["Title"]</h1>
</div>

<partial name="_PagingPartial" model="@this.Model" />
<div class="row">
    @foreach (var ad in this.Model.AdsWishlist)
    {
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top" src="/img/AdsPictures/1-@ad.Id.@ad.PictureExtension" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">@ad.Name</h5>
                <p class="card-text text-center">@ad.Description.Substring(0,10)...</p>
                <div class="text-center ">
                    <a class="text-primary font-weight-bolder" asp-controller="Users" asp-action="Profile" asp-route-id="@ad.AddedByUserId">@ad.AddedByUserUsername</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>
<partial name="_PagingPartial" model="@this.Model" />
